<section>
  <div class="municipals-container">
    <div class="community" data-id="{{community.CODAUTON}}" *ngFor="let community of communities">

      <div class="community-header">
        <span>{{community.COMUNIDAD_CIUDAD_AUTONOMA}}</span>
        <span class="badge">{{ community.provinces.length }}</span>
      </div>

      <div *ngIf="community.provinces.length > 0" class="community-provinces">
        <div [routerLink]="['/weather', province.CODPROV]" routerLinkActive="router-link-active"  *ngFor="let province of community.provinces">
          <p>
            {{province.NOMBRE_PROVINCIA}}
          </p>
        </div>
      </div>

    </div>
  </div>
</section>
